@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --font-primary: "Nunito", sans-serif;
    --font-secondary: "Alegreya", serif;
    --background-color-primary: #ff8400;
}

h1 {
    font-family: var(--font-secondary);
}
